<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindBreak</title>
</head>
<body>
<header>
    <div class="All_header_menu">
        <div class="Logo">
            <h1>MindBreak</h1>
        </div>
        <div class="Top_menu">
            <ul>
                <li><a href="register">Регистрация</a></li>
                <li><a href="#">Авторизация</a></li>
                <li><a href="resetpassword">Восстановить пароль</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="registration-cssave">
    <form method="post" id="forma">
        <h3 class="text-center">Авторизация</h3>
        <div class="form-group">
            <input class="form-control item" type="email" name="email" id="email" placeholder="Email" required>
        </div>
        
        <div class="form-group">
            <input class="form-control item" type="text" name="username" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="username" placeholder="Логин" required>
        </div>

        <div class="form-group">
            <input class="form-control item" type="password" name="password" minlength="6" id="password" placeholder="Пароль" required>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Вход в аккаунт</button>
        </div>
        <div id="error"></div>
    </form>
</div>


<link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
<script th:src="@{first.js}"></script>
    
</body>
</html>