.registration-cssave{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding:90px 0;
    background-color:#054dac;
    background-blend-mode:overlay;
    display:flex;
    align-items:center;
    justify-content:center;
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:100%;
}
  .registration-cssave form {
    max-width:800px;
    padding:50px 70px;
    border-radius:10px;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color:#fff;
  }
  .registration-cssave form h3 {
    font-weight:bold;
    margin-bottom:30px;
  }
  .registration-cssave .item {
    border-radius:10px;
    margin-bottom:25px;
    padding:10px 20px;
  }
  .registration-cssave .create-account {
    border-radius:30px;
    padding:7px ;
    font-size:18px;
    font-weight:bold;
    background-color:#3f93ff;
    border:none;
    color:white;
    margin-top:20px;
  }
.text-center{
    text-align: center;
  }
.index{
    background-color:#054dac;;
}
  @media (max-width: 576px) {
    .registration-cssave form {
      padding:50px 20px;
    }
  }




:root {
    --bgcolor: #1a79cf;
}

* {
    margin: 0;
    padding: 0;
}

.page-header {
    background-color: var(--bgcolor);
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
}
.logo {
    color: white;
    align-self: center;
    margin-left: 1.2rem;
    font-size: 2.5rem;
}

.nav-bar {
    margin: auto;
}

.nav-bar a {
    color: white;
    padding: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}

button {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.9rem;
}