<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<header>
    <div class="All_header_menu">
        <div class="Logo">
            <h1>MindBreak</h1>
        </div>
    </div>
</header>
<body>
<div>MindBreak is a noncommercial impressive social media for you. There you can found friend and do interesting things. It's not about other social media. It's <h1 class="Logo">MindBreak</h1></div> <br>
    <script th:src="@{first.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</body>
</html>