<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Your password</title>
</head>
<body>
<form action="changeMyPassword" method="post">
    <input type="oldPassword" name="oldPassword" minlength="4" maxlength="32" id="oldPassword" placeholder="Old password" required>
    <input type="newPassword" name="newPassword" minlength="4" maxlength="32" id="newPassword" placeholder="New password" required>
    <button>Change password</button>
</form>
<div th:text="${info}"></div>
</body>
</html>