<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>

<div>Enter to MindBreak</div>
<form action="auth" method="post">
    <input type="text" name="userName" id="userName" placeholder="Login" minlength="4" maxlength="32" pattern="^[a-zA-Z0-9_.-]*$" required> <br>
    <input type="password" name="password" id="password" placeholder="Password" minlength="4" maxlength="32" pattern="^[a-zA-Z0-9_.-]*$" required> <br>
    <button>Enter</button>
</form>
<div th:text="${error}"></div>
<a th:href="resetPassword">Forgot password</a>
<a th:href="register">Registration</a>
</body>
<footer>
    <div>MindBreak is a noncommercial impressive social media for you.</div>
    <div>There you can found friend and do interesting things.</div>
    <a th:href="about.html">About us</a>
</footer>
</html>