<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <div class="page-header">
        <div class="logo">
            <p>Logo</p>
        </div>
        <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
            <i class="fa fa-bars"></i>
        </a>

        <div id="navigation-bar" class="nav-bar">
            <a href="#" class="active">Home</a>
            <a href="#">Services</a>
            <a href="#">Profile</a>
            <a href="#">About</a>
            <a href="#">Contact us</a>
        </div>

        <div class="header-right"><button>Sign in</button></div>
    </div>
</header>

    <div>Hello, <span th:text="${userName}"></span></div>
    <div th:text="${email}"></div>
    <div>News feed:</div>
    <footer>
        <div>MindBreak is a noncommercial impressive social media for you. There you can found friend and do interesting things. It's not about other social media. It's <h1 class="Logo">MindBreak</h1></div> <br>
        <a th:href="about.html" class="Top_menu">About us</a>
        <script type="text/javascript" th:src="@{/js/first.js}"></script>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </footer>
</body>
</html>