<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="All_header_menu">
            <div class="Logo">
                <h1>MindBreak</h1>
            </div>
            <div class="Top_menu">
                <ul>
                    <li><a href="/">Главная страница</a></li>
                    <li><a href="profile">Мой профиль</a></li>
                    <li><a href="#">Друзья</a></li>
                    <li><a href="#">Лента</a></li>
                    <li><a href="#">Сообщения</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div>Hello, <span th:text="${userName}"></span></div>
    <div th:text="${email}"></div>
    <div>News feed:</div>
</body>
</html>