<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindBreak</title>
</head>
<body>
<header>
    <div class="All_header_menu">
        <div class="Logo">
            <h1>MindBreak</h1>
        </div>
        <div class="Top_menu">
            <ul>
                <li><a href="/">Главная страница</a></li>
                <li><a href="profile">Мой профиль</a></li>
                <li><a href="#">Друзья</a></li>
                <li><a href="#">Лента</a></li>
                <li><a href="#">Сообщения</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="registration-cssave">
    <form method="post" action="registerUser">
        <h3 class="text-center">Регистрация</h3>
        <input class="form-control item" type="email" name="email" maxlength="15" minlength="4" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" placeholder="Почта" required>
        <input class="form-control item" type="text" name="userName" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="userName" placeholder="Логин" required>
        <input class="form-control item" type="password" name="password" minlength="6" id="password" placeholder="Пароль" required>
        <div class="form-group">
            <button>Send</button>
        </div>
    </form>
    <div th:text="${info}"></div>
</div>

<link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
<script th:src="@{first.js}"></script>
    
</body>
</html>