<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
<header>
        <div class="Logo">
            <h1>MindBreak</h1>
        </div>
</header>
<div class="registration-cssave">
    <form method="post" action="registerUser">
        <h3 class="text-center">Registration</h3>
        <input class="item" type="email" name="email" minlength="4" maxlength="64" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" placeholder="Email" required> <br>
        <input class="item" type="text" name="userName" minlength="4" maxlength="32" pattern="^[a-zA-Z0-9_.-]*$" id="userName" placeholder="Login" required> <br>
        <input class="item" type="password" name="password" minlength="4" maxlength="32" pattern="^[a-zA-Z0-9_.-]*$" id="password" placeholder="Password" required>
        <div th:text="${info}"></div>
        <div class="form-group">
            <br>
            <button>Send</button>
        </div>
    </form>
</div>
<link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
<script th:src="@{first.js}"></script>
<footer>
    <div>MindBreak is a noncommercial impressive social media for you. There you can found friend and do interesting things. It's not about other social media. It's <h1 class="Logo">MindBreak</h1></div> <br>
    <a th:href="about.html" class="Top_menu">About us</a>
    <script type="text/javascript" th:src="@{js/first.js}"></script>
    <link rel="stylesheet" th:href="@{css/styles.css}">
</footer>
</body>
</html>