<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindBreak</title>
</head>
<body>  
<header>
    <div class="All_header_menu">
        <div class="Logo">
            <h1>MindBreak</h1>
        </div>
        <div class="Top_menu">
            <ul>
                <li><a href="register">Регистрация</a></li>
                <li><a href="auth">Авторизация</a></li>
                <li><a href="resetpassword">Восстановить пароль</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="registration-cssave">
        <div class="text-center">Enter Your mail</div>
        <div>You will receive message to reset your password.</div><br>
        <form action="resetingPassword" method="post">
        <input type="text" name="email" id="email" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required> <br>
        <button>Send</button>
    </form>
</div>
<div th:text="${info}"></div>

<link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
    
</body>
</html>