<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>
<body>
<header>
        <div class="Logo">
            <h1>MindBreak</h1>
        </div>
</header>

<div class="registration-cssave">

        <form action="resetMyPassword" method="post">
            <div class="text-center">Enter Your mail</div> <br>
            <div class="text-center">You will receive message to reset your password.</div><br>
            <input type="text" class="item" name="email" id="email" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required> <br>
            <button>Send</button>
        </form>
</div>
<div th:text="${info}"></div>
<footer>
    <div>MindBreak is a noncommercial impressive social media for you. There you can found friend and do interesting things. It's not about other social media. It's <h1 class="Logo">MindBreak</h1></div> <br>
    <a th:href="about.html" class="Top_menu">About us</a>
    <script type="text/javascript" th:src="@{js/first.js}"></script>
    <link rel="stylesheet" th:href="@{css/styles.css}">
</footer>
</body>
</html>